body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 600px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.QuizApp {
  text-align: center;
}

.questions {
  font-size: 20px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.options button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.options button:hover {
  background-color: #45a049;
}

.buttonbox {
  margin-top: 20px;
}

#Answer {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#Answer:hover {
  background-color: #0077A7;
}
